{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="rows">
        <h1>Accounts</h1>
        {% for item in twitterConnect %}
        <div class="rows">
            <h2>Access {{ loop.index }} <a href="{{ path('connection_to_twitter_test', { access_token: item.accessToken, access_token_secret: item.accessTokenSecret }) }}" class="testbtn btn btn-default btn-sm">test <span></span></a></h2>

            <div class="pull-right"><a href="{{ path('connection_to_twitter_delete', {id: item.id}) }}" class="btn btn-link">Delete</a></div>
            <p>{{ item.accessToken }}</p>
            <p>{{ item.accessTokenSecret }}</p>
        </div>
        {% endfor %}
    </div>

    <div class="rows">
        <h1>New Account</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }} 
   </div>
</div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    $(".testbtn").on("click", function() {
        var $this = $(this);
        $this.children("span").html('<i class="fa fa-cog fa-spin fa-fw"></i>');
        var href = $(this).attr("href");
        $.ajax({
            url: href,
            success: function (data) {
                if (data) {
                    $this.children("span").html('<i class="fa fa-check fa-fw"></i>');
                } else {
                    $this.children("span").html('<i class="fa fa-times fa-fw"></i>');
                }
            }
        });

        return false;
    });
});
</script>
{% endblock %}